<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="refresh" content="30;url='/'">
  <meta charset="utf-8">
  <meta name="keywords" content="weather, world, openweathermap, weather, layer">
  <meta name="description" content="A layer with current weather conditions in cities for world wide">
  <meta name="domain" content="openweathermap.org">
  <meta http-equiv="pragma" content="no-cache">
  <meta http-equiv="Expires" content="-1">
</head>
<body>

<p id="clock">Smart Alarm</p>

<form action="/alarm" id="myHeader">
  Alarm
  <button type="submit" name="alarm" value="Set">Set</button>
  <button type="submit" name="alarm" value="Cancel">Cancel</button>
</form> 

<form action="/">
  <br>
  Weather in:<br>
  <input type="text" name="city" value="{{ city }}">
  <input type="submit" value="Submit">
  <br><br>
</form> 

<div style="font-size: medium; font-weight: bold; margin-bottom: 0px;">{{ city }}</div>
  <div style="float: left; width: 130px;">
    <div style="display: block; clear: left;">
      <div style="float: left;" title="Titel">
        <img height="45" width="45" style="border: medium none; width: 45px; height: 45px; background: url(&quot;http://openweathermap.org/img/w/{{ icon }}.png&quot;) repeat scroll 0% 0% transparent;" alt="title" src="http://openweathermap.org/images/transparent.png">
      </div>
      <div style="float: left;">
        <div style="display: block; clear: left; font-size: medium; font-weight: bold; padding: 0pt 3pt;" title="Current Temperature">{{ temperature }}°C</div>
        <div style="display: block; width: 85px; overflow: visible;"></div>
      </div>
    </div>
    <div style="display: block; clear: left; font-size: small;">{{ description }}</div>
    <div style="display: block; clear: left; color: gray; font-size: x-small;">Clouds: {{ cloud }}%</div>
    <div style="display: block; clear: left; color: gray; font-size: x-small;">Humidity: {{ humidity }}%</div>
    <div style="display: block; clear: left; color: gray; font-size: x-small;">Wind: {{ wind }}m/s</div>
    <div style="display: block; clear: left; color: gray; font-size: x-small;">Pressure: {{ pressure }}hpa</div>
 </div>



<div>
	<h2 style="clear: both"> Current News Headlines</h2>
	{% for article in articles %}
		<a href="{{ article['url'] }}">{{ article['title'] }}</a>
		<br>
	{% endfor %}


</div>

<script>
    var clock = document.getElementById("clock");
    clock.style.fontSize = "25px"; 
    clock.style.color = "blue";
    setInterval(() => {
        fetch("{{ url_for('time_feed') }}")
        .then(response => {
                response.text().then(t => {clock.innerHTML = t})
            });
        }, 1000);  
</script>

<script type="text/javascript">
	setTimeout(function(){
		location.reload():
	},1000*60*10);
</script>
</body>

</html>

<!--

--!>